# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Data files
data/raw/
*.csv
*.xlsx

# Env & IDE
.env
.vscode/
.idea/
.DS_Store
*.egg-info/
venv/
env/
.venv/
*.egg-info/


# pytest cache
.pytest_cache/

# Secrets
OPENAI_API_KEY
GROQ_API_KEY
*.env

# Vector DB
vector_store/
outputs/traces/